@font-face {
  font-family: "Mega Sans J";
  src: url("@/assets/fonts/MegaSansJ-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Mega Sans J";
  src: url("@/assets/fonts/MegaSansJ-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}
